<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- Tituloda Página - SEO -->
    <title>Crie sua Conta Gratuitamente | Trabalho Amigo</title>
    <!-- Descrição da Página - SEO -->
    <meta name="description" content="Crie sua Conta">

    <!-- Metas tags de configurações das páginas -->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Tags Globais do projeto -->
    <script src="../../../../app.js" defer></script>
    <link rel="stylesheet" href="../../../../app.css">

    <!-- Tags Especificas de cada página-->
    <link rel="stylesheet" href="../../../../public/css/contrante/criar.css">
    <script src="../../../../public/js/contratante/conta.js" defer></script>

    <!-- Importação da bibliotecas -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <section id="CriarContaUsuario">
        <div class="left">
            <div class="imagem">
                <img src="../../../../public/img/CriarUsuario/imagen-criar-ususario.png" alt="Imagem Padrão Criar Usuário">
            </div>
            <p class="descricao">Encontre milhares de serviços a sua disposição de forma simples e rápida!</p>
        </div>

        <div class="right">
            <main class="corpo">
                <section class="content-titulo">
                    <h1 class="titulo">Crie sua conta aqui</h1>
                    <p class="descricao">Crie sua conta gratuitamente em nossa plataforma</p>
                </section>
                <form id="FormCriarUsuario">
                    <section class="inputGroup">
                        <div class="input-group">
                            <input required type="text" name="text" class="input nome" placeholder="Nome*">
                            <label class="user-label"></label>

                            <input required type="text" name="text" class="input nome" placeholder="Sobrenome*">
                            <label class="user-label"></label>

                        </div>
                        <div class="input-group">
                            <input required type="email" name="email" class="input email" placeholder="Email*">
                            <label class="user-label"></label>

                            <input type="tel" name="telefone" class="input telefone" placeholder="Telefone">
                            <label class="user-label"></label>

                        </div>
                        <div class="input-group">
                            <input required type="tel" name="celular" class="input celular" placeholder="Celular*">
                            <label class="user-label"></label>

                            <input type="tel" name="whatsapp" class="input whatsapp" placeholder="WhatsApp (Opcional)">
                            <label class="user-label"></label>

                        </div>
                        <div class="input-group">
                            <input required="" type="number" name="cpf" class="input-senha input cpf" placeholder="CPF*">
                            <label class="user-label"></label>
                        </div>
                        <div class="input-group">
                            <input required="" type="password" name="text" class="input-senha input senha" placeholder="Senha*">
                            <label class="user-label"></label>

                        </div>
                        <div class="input-group">
                            <input required="" type="password" name="text" class="input-senha input againsenha" placeholder="Confirma senha*">
                            <label class="user-label"></label>

                        </div>
                        <div class="input-group">
                            <input required type="text" name="text" class="input cep" placeholder="CEP*">
                            <label class="user-label"></label>

                            <input disabled required type="text" name="text" class="input cidade disabled-campo" placeholder="cidade*">
                            <label class="user-label"></label>
                        </div>
                        <div class="input-group">
                            <input disabled required type="text" name="text" class="input rua disabled-campo" placeholder="Rua*">
                            <label class="user-label"></label>
                            <input required type="text" name="text" class="input numero" placeholder="Número">
                            <label class="user-label"></label>

                        </div>
                        <div class="input-group">
                            <input required="" type="text" name="text" class="input-complem bairro" placeholder="Bairro*">
                            <label class="user-label"></label>
                        </div>
                        <div class="input-group">
                            <input type="text" name="text" class="input-complem complemento" placeholder="Complemento(opcional)">
                            <label class="user-label"></label>
                        </div>
                    </section>
                    <div class="row">
                        <div id="checkTerms">
                            <label class="container">
                                <input type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                            <p>Eu aceito <strong style="color: #FF8682;">Termos</strong> e <strong
                                    style="color: #FF8682;">Politicas de Privicidade</strong></p>
                        </div>
                    </div>
                    <div class="rowBtn">
                        <button type="submit" class="SendForm">Cadastrar</button>
                    </div>
                    <div class="rowOthersLogin">
                        <h2 class="titulo">Ou faça login com</h2>
                        <div class="flexSocial">
                            <div class="box-social">
                                <img src="../../../../public/img/EntrarUsuario/Icon-Social-Facebook.png"
                                    alt="Icone de Login">
                            </div>
                            <div class="box-social">
                                <img src="../../../../public/img/EntrarUsuario/Icon-Social-Google.png"
                                    alt="Icone de Login">
                            </div>
                            <div class="box-social">
                                <img src="../../../../public/img/EntrarUsuario/Icon-Social-Apple.png"
                                    alt="Icone de Login">
                            </div>
                        </div>

                        <section>
                            <h2 class="titulo">Já possui uma conta? <a style="color: #FA511D;" href="../EntrarConta/" class="link">Entre em sua conta</a></h2>
                        </section>
                </form>
            </main>
        </div>
    </section>
</body>
</html>