@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1,
h2,
h3,
h4,
h5,
p,
a,
td {
    all: unset;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

/* ======================================================================================== */
/*                                        Topo do site                                      */
/* ======================================================================================== */

#site-topo {
    background: #F8F8F8;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.151);
}
#site-topo .logo-box {
    width: 200px;
    height: 30px;
    margin-top: 5px;
}
#site-topo .logo {
    width: 100%;
    height: 100%;
}
#site-topo .navigation-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#site-topo .links-box {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
#site-topo .link-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #FA511D;
    text-decoration: none;
}
#site-topo .link-element img {
    width: 28px;
    height: 28px;
}
#site-topo .userProfile-circle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}
@media screen and ( max-width: 950px ) {
    #site-topo .links-box,
    #site-topo .userProfile-circle {
        display: none !important;
    }
    .menu-mobile {
        display: flex;
    }
}
#offCanva-mobile {
    position: absolute;
    background: #f0f0f0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    z-index: 999;
}
#offCanva-mobile .headerOffCanva {
    background: #fff;
    width: calc(100% - 100px);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
#offCanva-mobile .headerOffCanva img {
    width: 170px;
    height: 30px;
}
#offCanva-mobile .content-offcanva {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
#offCanva-mobile .content-offcanva a {
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: #FA511D;
}
#offCanva-mobile .content-offcanva a:first-child {
    background: #2B88F4;
    color: #fff;
    padding: 20px 0;
    border-radius: 500px;
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
}
#popup-profile {
    position: absolute;
    right: 70px;
    top: 90px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid rgba(156, 156, 156, 0.171);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
    border-radius: 12px;
    padding: 10px 10px;
    z-index: 999;
}
#popup-profile .topo-popup-profile{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
#popup-profile .name-user {
    font-weight: 700;
    font-size: 18px;
    color: #333232;
}
#popup-profile .topo-popup-profile img {
    width: 45px;
    height: 45px;
}
#popup-profile .small-line {
    width: 100%;
    border: .1px solid rgba(173, 173, 173, 0.397);
}
#popup-profile .list-links {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
}
#popup-profile .link {
    font-size: 16px;
    font-weight: 600;
    color: #525151;
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
} 
#popup-profile .link:hover {
    background: #fa511d34;
    transition: .33s;
}
#popup-profile .link-child-logout {
    color: #FA511D;
}
#site-rodape {
    position: relative;
    bottom: 0;
    background: #F8EFF8;
    width: calc(100% - 100px);
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
}
#site-rodape .topo-rodape {
    display: flex;
    justify-content: space-between;
}
#site-rodape .topo-rodape .logo {
    width: 170px;
    height: 30px;
}
#site-rodape .navigation-social {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
#site-rodape .navigation-social img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: .33s;
}
#site-rodape .navigation-social img:hover {
    transform: scale(1.1);
}
#site-rodape .bar-long {
    margin: 30px 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.075);
}
#site-rodape .d-flex {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
#site-rodape .item {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
#site-rodape .item .titulo {
    font-weight: 800;
    font-size: 22px;
    color: #FA511D;
}
#site-rodape .item .list-itens {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
#site-rodape .item .list-itens .itens-links {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #686868;
}
#site-rodape .d-flex-footer {
    display: flex;
    justify-content: start;
}
#site-rodape .d-flex-footer .copy {
    font-size: 16px;
    font-weight: 500;
    color: #686868;
}
@media screen and (max-width:850px) {
    .d-flex {
        display: grid !important;
        grid-template-columns: 1fr;
    }
    #site-rodape .item:nth-child(3) {
        display: none;
    }
}
@media screen and (max-width:500px) {
    .topo-rodape {
        flex-direction: column;
        row-gap: 60px;
    }
    .navigation-social {
        width: 20%;
    }
    #site-rodape .item {
        width: 100%;
    }
    .list-itens {
        row-gap: 5px;
    }
    #site-rodape {
        padding: 40px 20px;
        width: calc(100% - 40px);
    }
}
.swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}
  
.swiper-wrapper {
    display: flex;
    margin-bottom: 50px;
}
  
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
  
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    color: #fff;
    cursor: pointer;
}
  
.swiper-button-prev {
    left: 0;
}
  
.swiper-button-next {
    right: 0;
}  
.hidden {
    display: none !important;
}
.high-contrast {
    background-color: #000 !important;
    color: #fff !important;
}
.high-contrast a {
    color: #0f0 !important;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #1f6feb;
}
.disabled-campo {
    background: rgba(94, 94, 94, 0.116) !important;
}

.loading-form-animation {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-bottom-color: transparent;
    animation: loading-animation-button infinite linear .4s;
}

.loading-container {
    display: flex;
    justify-content: center;
}

@keyframes loading-animation-button {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}