<!DOCTYPE html>
<html lang="pt-br">
<head>

    <!-- Tituloda Página - SEO -->
    <title>Crie sua Conta Gratuitamente | Trabalho Amigo</title>
    <!-- Descrição da Página - SEO -->
    <meta name="description" content="Crie sua Conta">

    <!-- Metas tags de configurações das páginas -->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <!-- Importação do Icone do Projeto -->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Tags Globais do projeto -->
    <script src="../../../../app.js" defer></script>
    <link rel="stylesheet" href="../../../../app.css">

    <!-- Tags Especificas de cada página-->
    <link rel="stylesheet" href="../../../../public/css/contrante/Acesso.css">
    <script src="../../../../public/js/anunciante/login.js" defer></script>
    <link rel="stylesheet" href="../../../../public/css/anunciante/Acesso.css">

    <!-- Importação da bibliotecas -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <body>

        <script>
            $.ajax({
                url: `../../../controllers/anunciante/SecurityLogin.php`,
                method: 'GET',
                success: function (data) {
                    if (data == 'contratante') {
                        window.location.href = "../PaginaInicial/";
                    } else if (data == 'anunciante') {
                        window.location.href = "../PaginaInicial/";
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro',
                        text: 'Erro na Autenticação.'
                    });
                }
            });
        </script>

        <section id="EntrarContaUsuario">
            <div class="left">
                </header>
                <main class="corpo">
                    <section class="content-titulo">
                        <h1 class="titulo">Entrar como anunciante</h1>
                        <p class="descricao">Gerencie seus anúncios e conquiste novos clientes</p>
                    </section>
                    <form id="FormEntrarUsuario">
                        <section class="inputGroup">
                            <div class="input-group">
                                <input required="" type="text" name="text" autocomplete="off" class="input email">
                                <label class="user-label">Email</label>
                                <h4 class="errorMessage errorMessageEmail hidden">Preencha corretamente este campo!</h4>
                            </div>
                            <div class="input-group">
                                <input required="" type="password" name="text" autocomplete="off" class="input senha">
                                <label class="user-label">Senha</label>
                                <h4 class="errorMessage errorMessageSenha hidden">Preencha corretamente este campo!</h4>
                            </div>
                        </section>
                        <div class="row">
                            <div id="checkTerms">
                                <label class="container">
                                    <input type="checkbox">
                                    <div class="checkmark"></div>
                                </label>
                                <h2 class="titulo">Lembrar acesso</h2>
                            </div>
                            <a class="PassForgout" href="#">Esqueceu a senha?</a>
                        </div>
    
                        <div class="rowBtn">
                            <button type="submit" class="SendForm">Acessar sua conta</button>
                        </div>
    
                        <section class="NoLogin">
                            <h2 class="titulo">Não tem cadastro? <a href="../CriarConta/index.html" class="link">Cadastre-se gratuitamente</a></h2>
                        </section>
                    </form>
                    <div class="rowOthersLogin">
                        <h2 class="titulo">Ou faça login com</h2>
                        <div class="flexSocial">
                            <div class="box-social">
                                <img src="../../../../public/img/EntrarUsuario/Icon-Social-Facebook.png" alt="Icone de Login">
                            </div>
                            <div class="box-social">
                                <img src="../../../../public/img/EntrarUsuario/Icon-Social-Google.png" alt="Icone de Login">
                            </div>
                            <div class="box-social">
                                <img src="../../../../public/img/EntrarUsuario/Icon-Social-Apple.png" alt="Icone de Login">
                            </div>
                        </div>
                    </div>
                    <div class="SouAnunciante">
                        <h2 class="titulo">Outras opções de entrada</h2>
                        <a class="buttonLinkAnunciante" href="../../contratante/EntrarConta/">SOU CONTRATANTE</a>
                    </div>
                </main>
            </div>
            <div class="right">
                <div class="imagem">
                    <img src="../../../../public/img/EntrarAnunciante/Imagem-direita.png" alt="Imagem Padrão Entrar Usuário">
                </div>
                <p class="descricao"><strong>Crie seus anúncios grátis!</strong></p>
            </div>
        </section>
    </body>
</html>