/* =============================================================================== */
/*   Estilização da Página de "Criar Conta do Usuário" e "Entrar Conta do Usuário" */
/* =============================================================================== */

.input-group {
    position: relative;
    display: flex;
}

.input-group input {
    margin: 08px;
}

.input-complem {
    width: calc(100% - 10px);
    border: solid 1.5px #1C1B1F;
    border-radius: 4px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #2e2c2c;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    display: flex;
}

.input {
    width: calc(50% - 10px);
    border: solid 1.5px #1C1B1F;
    border-radius: 4px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #2e2c2c;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    display: flex;
}
.errorMessage {
    color: rgb(249, 84, 84);
    font-size: 14px;
}   

.input-senha {
    width: calc(100% - 10px);
    border: solid 1.5px #1C1B1F;
    border-radius: 4px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #2e2c2c;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}
   
.input:focus, input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
}
   
.input:focus ~ label, input:valid ~ label {
    transform: translateY(-330%) scale(0.8);
    background-color: #ffffff;
    padding: 0 .2em;
    color: #2196f3;
}
/* Hide the default checkbox */
.container input {
    display: none;
}  
.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #2196F300;
    border-radius: 0.25em;
    transition: all 0.25s;
} 
/* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    transform: rotate(0deg);
    border: 0.1em solid black;
    left: 0;
    top: 0;
    width: 1.05em;
    height: 1.05em;
    border-radius: 0.25em;
    transition: all 0.25s, border-width 0.1s;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border-color: #fff0 white white #fff0;
    border-width: 0 0.15em 0.15em 0;
    border-radius: 0em;
    transform: rotate(45deg);
}
#CriarContaUsuario { 
    padding: 70px 140px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
#CriarContaUsuario .right {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}
.right .imagem {
    width: 100%;
    height: auto;
}
.right .imagem img {
    width: 100%;
    height: 100%;
}
.left .imagem {
    width: 100%;
    height: auto;
}
.left .imagem img {
    width: 100%;
}
/* .left {
    position: fixed;
} */
@media screen and (max-width: 1100px) {
    .left {
        display: none !important;
    }
    #CriarContaUsuario .right {
        width: 100%;
    }
}
#CriarContaUsuario .right .descricao {
    color: #645F60;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    width: 100%;
    text-align: center;
    margin: 0;
}
#CriarContaUsuario .left {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 42%;
}
#CriarContaUsuario .left .topo {
    display: flex;
    justify-content: start;
}
#CriarContaUsuario .left .topo .logo {
    width: 202px;
    height: 30px;
}
#CriarContaUsuario .left .corpo {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

 .content-titulo {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.content-titulo .titulo {
    color: #FA511D;
    font-size: 40px;
    font-weight: 600;
    line-height: auto;
    margin: 0;
}
.content-titulo .descricao {
    font-size: 16px;
    color: #313131;
    font-weight: 400;
    margin: 0;
}

#FormCriarUsuario {
    margin-top: 20px;
}

#FormCriarUsuario .inputGroup {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#FormCriarUsuario .row {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
#FormCriarUsuario .row #checkTerms {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
}
#FormCriarUsuario .row #checkTerms .titulo {
    color: #313131;
    font-size: 14px;
    font-weight: 500;
}
#FormCriarUsuario .row .PassForgout {
    color: #FF8682;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
#FormCriarUsuario .row .PassForgout:hover {
    color: #fca9a7;
}
.rowBtn {
    width: 100%;
    margin-bottom: 20px;
}
.rowBtn .SendForm {
    background: #515DEF;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 10px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
#FormCriarUsuario .rowBtn .SendForm:disabled {
    background: #b0b5ed;
    cursor: no-drop;
}
#FormCriarUsuario .rowBtn .SendForm:hover {
    background: #6a76f7;
}
#FormCriarUsuario .NoLogin {
    width: 100%;
    display: flex;
    justify-content: center;
}
#FormCriarUsuario .NoLogin .titulo {
    color: #313131;
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
}
#FormCriarUsuario .NoLogin .titulo .link {
    color: #FF8682;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
#CriarContaUsuario .rowOthersLogin {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    z-index: 2;
}
#CriarContaUsuario .rowOthersLogin .titulo {
    color: #747474;
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    padding: 0 20px;
    z-index: 2;
}
#CriarContaUsuario .rowOthersLogin::before {
    content: '';
    width: 35%;
    height: 1px;
    background: rgb(217, 217, 217);
    margin-top: 10px;
    position: absolute;
    z-index: 1;
}
#CriarContaUsuario .rowOthersLogin .flexSocial {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
#CriarContaUsuario .rowOthersLogin .flexSocial .box-social {
    width: 100%;
    padding: 10px 0;
    border: 2px solid #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    transition: .33s;
}
#CriarContaUsuario .rowOthersLogin .flexSocial .box-social:hover {
    border-color: #3b3b3d;
    background: #f7f7f7;
}
#CriarContaUsuario .rowOthersLogin .flexSocial .box-social:active {
    transition: .1s;
    transform: scale(.9);
}
#CriarContaUsuario .SouAnunciante {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

#CriarContaUsuario .SouAnunciante .titulo {
    color: #747474;
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    padding: 0 20px;
    z-index: 2;
}
#CriarContaUsuario .SouAnunciante::before {
    content: '';
    width: 35%;
    height: 1px;
    background: rgb(217, 217, 217);
    margin-top: 9spx;
    position: absolute;
    z-index: 1;
}
#CriarContaUsuario .SouAnunciante .buttonLinkAnunciante {
    width: 100%;
    padding: 10px 0;
    background:#FA511D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    transition: .33s;
    border-radius: 4px;
}
#CriarContaUsuario .SouAnunciante .buttonLinkAnunciante:hover {
    background:#fc6a3e;   
}

@media screen and (max-width: 950px) {
    #CriarContaUsuario {
        flex-direction: column;
        row-gap: 40px;
    }
    #CriarContaUsuario .left,
    #CriarContaUsuario .right {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    #CriarContaUsuario {
        padding: 20px;
    }
}
@media screen and (max-width: 500px) {
    #CriarContaUsuario .left .corpo .content-titulo .titulo {
        font-size: 24px;
    }
    #CriarContaUsuario .left .corpo .content-titulo .descricao {
        font-size: 14px;
    }
    #FormCriarUsuario {
        margin-top: 10px;
    }
    #CriarContaUsuario .rowOthersLogin::before {
        width: 100% !important;
    }
    #CriarContaUsuario .SouAnunciante::before {
        width: 100% !important;
    }
}
@media screen and (max-width: 400px) {
    .PassForgout {
        font-size: 14px !important;
    }
    .NoLogin .titulo {
        font-size: 14px !important;
    }
    .NoLogin .titulo .link {
        font-size: 14px !important;
    }
    .buttonLinkAnunciante {
        font-size: 16px !important;
    }
    .SendForm {
        font-size: 16px !important;
    }
}

.hidden {
    display: none !important;
}

.TopPage {
    width: 100%;
    height: 7vh;
    margin: 0;
    padding: 0;
    background-color: #FA511D;
    z-index: 0;
    display: flex;
}

.BarLow {
    width: 100%;
    height: 30vh;
    margin: 0;
    padding: 0;
    background-color: #6400A1;
    z-index: -1;
    position: absolute;
    margin-bottom: 0;
}